<section class="section__home-about text-third">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="container-text">
					<h1>¿Que hacemos?</h1>	
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quibusdam quasi ullam optio quae blanditiis necessitatibus enim quaerat reprehenderit minima expedita nemo rerum, ea at odit aliquam distinctio soluta maiores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aliquid architecto, quam, delectus aperiam consequuntur fugiat voluptates, dolore similique ullam repudiandae amet veniam praesentium? Recusandae delectus itaque odit ut autem? </p>
					<button class="btn btn-primary">Conoce más</button>						
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/applications-development-icon.png", class: "img-fluid") %>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/applications-development-icon.png", class: "img-fluid") %>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/applications-development-icon.png", class: "img-fluid") %>							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/applications-development-icon.png", class: "img-fluid") %>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/applications-development-icon.png", class: "img-fluid") %>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/applications-development-icon.png", class: "img-fluid") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>