<section class="section__home-about text-third">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="container-text p-3">
          <h2>
            ¿Qué hacemos?
            <br/>
            <br/>
          </h2>
          <p>
            Construimos software a la medida altamente asequible para
            empresas grandes y pequeñas. Utilizamos procesos ágiles para
            prestar servicios de TI (desarrollo a la medida,
            fábrica de software, despliegue de soluciones ERP)
            que resuelvan los retos de su compañia.
            <br/>
            <br/>
            Lo invitamos a conocer más sobre nosotros, a explorar 
            nuestros servicios o a compartirnos su reto tecnológico
          </p>
					<button class="btn btn-primary">Conoce más</button>						
				</div>
			</div>
			<div class="col-md-6 container-icons">
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("about/estrategia.png", class: "img-fluid") %> 
						</div>
						<p class= "text-second">Estrategia y diseño de productos</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("about/games.png", class: "img-fluid") %> <br>
						</div>
						<p class="text-second">Desarrollo de Softwhere</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("about/dev.png", class: "img-fluid") %>							
						</div>
						<p class="text-second">Desarrollo de Video Juegos</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("about/marketing.png", class: "img-fluid") %>
						</div>
						<p class="text-second">Desarrollo de APP Moviles</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("about/moviles.png", class: "img-fluid") %>
						</div>
						<p class="text-second">Consultoria de Redes</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="container-icon">
							<%= image_tag("about/network.png", class: "img-fluid") %>
						</div>
						<p class="text-second">Marketing y Transformacion Digial</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
