<section class="section__home-customers text-center">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="container-text text-third">
					<h1>Nuestros Clientes</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nisi ea asperiores eius mollitia reprehenderit maxime hic atque.</p>					
				</div>
			</div>
		</div>
		<br>
		<div class="row ">
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/apc_logo.png", style: "height: 40px",class: "img-fluid") %>
			</div>
			<div class="col-md-3 col-sm-12 ">
				<%= image_tag("customers/giz-logo.png", style: "height: 55px",class: "img-fluid") %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/hos_logo.png",class: "img-fluid") %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/hs_logo.png", style: "height: 20px",class: "img-fluid") %>
			</div>
		</div>
		<br><br>
		<div class="row ">
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/logo_fede.png", style: "height: 50px",class: "img-fluid") %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/logo_utp.png",style: "height: 50px" ,class: "img-fluid") %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/mintic_logo.png", style: "height: 40px",class: "img-fluid") %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= image_tag("customers/ptp_logo.png", class: "img-fluid") %>
			</div>				
		</div>
	</div>
</section>