<section class="section__home-uses-cases text-center">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="container-text">
					<h1>Casos de uso</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iusto et doloribus dolorum ab cumque, excepturi vitae nisi eos dolore nulla iste quasi accusamus ipsa ipsum officia minus iure error.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<div id="demo" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="">
						        <h3>Los Angeles</h3>
						        <p>We had such a great time in LA!</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="">
						        <h3>Los Angeles</h3>
						        <p>We had such a great time in LA!</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				     <div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="">
						        <h3>Los Angeles</h3>
						        <p>We had such a great time in LA!</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
						<div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="">
						        <h3>Los Angeles</h3>
						        <p>We had such a great time in LA!</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="">
						        <h3>Los Angeles</h3>
						        <p>We had such a great time in LA!</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
						<div class="carousel-item ">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="">
						        <h3>Los Angeles</h3>
						        <p>We had such a great time in LA!</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#demo" data-slide="prev"></a>
				  <a class="carousel-control-next" href="#demo" data-slide="next"></a>
			  	<div class="slider">
				  <ul class="carousel-indicators">
					    <li data-target="#demo" data-slide-to="0" class="active">
							  <%= image_tag("customers/Fedesoft4.png", class: "img-fluid") %>	
					    </li>
					    <li data-target="#demo" data-slide-to="1">
					    	<%= image_tag("customers/GIZ-logo.jpg", class: "img-fluid") %>
					    </li>
					    <li data-target="#demo" data-slide-to="2">
					    	<%= image_tag("customers/Mincomercio_Colombia.svg", class: "img-fluid") %>
					    </li>
					    <li data-target="#demo" data-slide-to="3">
					    	<%= image_tag("customers/logo-utp.png", class: "img-fluid") %>
					    </li>
					    <li data-target="#demo" data-slide-to="4">
							  <%= image_tag("customers/Fedesoft4.png", class: "img-fluid") %>	   
					    </li>
					    <li data-target="#demo" data-slide-to="5">
					    	<%= image_tag("customers/GIZ-logo.jpg", class: "img-fluid") %>
					    </li>
					  </ul>
			  		
			  	</div>
				</div>
			</div>
		</div>
	</div>
</section>

