<section class="section__home-uses-cases text-center">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="container-text text-third">
					<h1>Casos de uso</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iusto et doloribus dolorum ab cumque, excepturi vitae nisi eos dolore nulla iste quasi accusamus ipsa ipsum officia minus iure error.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<div id="demo" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="container-text">
						        <h3>Bogota Piensa Digital</h3>
						        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita amet corrupti delectus, est rem ipsam facilis quisquam vero, ab molestiae provident veritatis voluptas. Vero itaque optio qui suscipit, et corporis?</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="container-text">
						        <h3>Bogota Piensa Digital</h3>
						        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita amet corrupti delectus, est rem ipsam facilis quisquam vero, ab molestiae provident veritatis voluptas. Vero itaque optio qui suscipit, et corporis?</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				     <div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="container-text">
						        <h3>Bogota Piensa Digital</h3>
						        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita amet corrupti delectus, est rem ipsam facilis quisquam vero, ab molestiae provident veritatis voluptas. Vero itaque optio qui suscipit, et corporis?</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
						<div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="container-text">
						        <h3>Bogota Piensa Digital</h3>
						        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita amet corrupti delectus, est rem ipsam facilis quisquam vero, ab molestiae provident veritatis voluptas. Vero itaque optio qui suscipit, et corporis?</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="container-text">
						        <h3>Bogota Piensa Digital</h3>
						        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita amet corrupti delectus, est rem ipsam facilis quisquam vero, ab molestiae provident veritatis voluptas. Vero itaque optio qui suscipit, et corporis?</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
						<div class="carousel-item ">
				    	<div class="row">
				    		<div class="col-md-6">
						      <img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt="Los Angeles" width="100%" height="auto">				    			
				    		</div>
				    		<div class="col-md-6">
						      <div class="container-text">
						        <h3>Bogota Piensa Digital</h3>
						        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita amet corrupti delectus, est rem ipsam facilis quisquam vero, ab molestiae provident veritatis voluptas. Vero itaque optio qui suscipit, et corporis?</p>
						      </div>   				    			
				    		</div>
				    	</div>
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#demo" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
				  <a class="carousel-control-next" href="#demo" data-slide="next"><span class="carousel-control-next-icon"></span></a>
				</div>
			</div>
		</div>
		<br>
			<ul class="carousel-indicators2">
				<li data-target="#demo" data-slide-to="0" class="active">
				  <%= image_tag("customers/apc_logo.png", style: "width: 90px",class: "img-fluid") %>
				</li>
				<li data-target="#demo" data-slide-to="1">
				 	<%= image_tag("customers/giz-logo.png", class: "img-fluid") %>
				</li>
				<li data-target="#demo" data-slide-to="2">
				 	<%= image_tag("customers/ptp_logo.png",  class: "img-fluid") %>
				</li>
				<li data-target="#demo" data-slide-to="3">
				 	<%= image_tag("customers/hs_logo.png" ,style: "width: 160px ",class: "img-fluid") %>
				</li>
				<li data-target="#demo" data-slide-to="4">
					<%= image_tag("customers/logo_fede.png" ,class: "img-fluid") %>
				</li>
			</ul>
	</div>
</section>