<section class="row">
	<div class="col">
		<h1>Images</h1>
		<hr>
		<div class="container-images">
			<div class="row">
				<div class="col">
					<p class="lead"><b>Customers</b></p>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<%= image_tag("customers/Fedesoft4.png", class: "img-fluid") %>
				</div>

				<div class="col-md-3">
					<%= image_tag("customers/ptp_light.png", class: "img-fluid") %>
				</div>

				<div class="col-md-3">
					<%= image_tag("customers/Mincomercio_Colombia.svg", class: "img-fluid") %>
				</div>

				<div class="col-md-3">
					<%= image_tag("customers/logo-utp.png", class: "img-fluid") %>
				</div>
			</div>
			
			<br>

			<div class="row">
				<div class="col-md-3">
					<%= image_tag("customers/GIZ-logo.jpg", class: "img-fluid") %>
				</div>

				<div class="col-md-3">
					<%= image_tag("customers/logo-vector-tigo-une.jpg", class: "img-fluid") %>
				</div>

				<div class="col-md-3">
					<%= image_tag("customers/ptp_light.png", class: "img-fluid") %>
				</div>

				<div class="col-md-3 pt-2">
					<%= image_tag("customers/logo-homesquad.png", class: "img-fluid") %>
				</div>
			</div>
		</div>
	</div>
</section>